<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Student Registration Form</title>
  <link rel="stylesheet" href="/css/adminDashboard.css" />
</head>

<body>
  <%-include('adminNav.ejs') %>

    <div class="Fcontiner">

      <div class="fSidebar">
        <%-include('adminSidebar.ejs') %>
      </div>

      <div class="fMainContent">
        <div class="welcome-container">
          <h1>Welcome to the Admin Dashboard 📊</h1>
          <p class="subheading">Manage your library system efficiently with the tools provided.</p>
        </div>

      </div>
    </div>

</body>

</html>