<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <%- include('homeNav.ejs') %>
    <div class="container">
      <div class="form-container">
        <div class="heading">
          <h1>Please Sign in</h1>
        </div>
        <div class="form">
          <form action="/" method="post">
            <span>Username</span>
            <input
              type="text"
              id="name"
              name="name"
              value=""
              placeholder="Username"
              class="txt"
            /><br />
            <span>Password</span>
            <input
              type="password"
              id="password"
              value=""
              placeholder="password"
              class="txt"
            /><br />
            <button>Sign in</button>
          </form>
        </div>
        <span id="msg"></span>
      </div>
    </div>
  </body>
</html>
