<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%-include("homeNav.ejs")%>
        <div class="container">
            <form name="login" action="/" method="post">
                <div class="heading">
                    <h2>Login Here</h2>
                </div>
                <h4>Username</h4><input type="text" name="username" placeholder="Enter Your Username">
                <h4>Password</h4><input type="text" name="password" placeholder="Enter Your Password">
                <br><br>
                <button class="btn">Login</button>

                <!-- <section class="signUp">Don't have an account? <a href="/Registration">SignUp</a></section> -->
            </form>
        </div>
</body>

</html>