<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Navbar</title>
  <link rel="stylesheet" href="/css/userNavbar.css" />
</head>

<body>
  <nav class="navbar">
    <div class="logo">
      <span class="navbar-brand"><a href="/userDashboard">User Panel</a>📚</span>
    </div>
    <div class="menu">
      <a href="/userProfile" id="profile"><img src="/images/user.png" alt="Not Found" id="profileImg"></a>
      <button id="logoutBtn">Logout</button>
    </div>
  </nav>

  <script src="/js/adminNav.js"></script>
</body>

</html>