<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/css/userDashboard.css">
</head>

<body>

    <%-include('userNavbar.ejs') %>

        <div class="Fcontiner">

            <div class="fSidebar">
                <%-include('userSidebar.ejs') %>
            </div>
            <div class="fMainContent">
                <div class="welcome-container">
                    <h1>Welcome to the User Dashboard</h1>
                    <!-- <p class="subheading">Manage your library system efficiently with the tools provided.</p> -->
                </div>
            </div>
        </div>

        <script src=""></script>
</body>

</html>