* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.Fcontiner {
    /* height: 80vh; */
    /* border: solid black; */
    display: grid;
    grid-template-columns: auto 1fr;
}

.fSidebar {
    /* border: solid black; */
}

.fMainContent{
    /* border: solid black; */
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #01141c, #1d4a5a);
}

.welcome-container {
  margin-top: 10vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.welcome-container h1 {
  font-size: 2rem;
  color: #86aab6;
}

.subheading {
  color: #898282;
  margin-bottom: 2rem;
}
